<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Tasty Coffee Purchase Session Manager</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.2.0/css/all.css} "/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/AdminLTE/3.2.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">

  <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/moment/2.29.4/min/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/AdminLTE/3.2.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
  <h2 class="text-center">[[${pageTitle}]]</h2>

  <div class="my-3">
    <form th:action="@{/sessions/save}" method="post" enctype="multipart/form-data" th:object="${session}"
          style="max-width: 550px; margin: 0 auto">


      <!-- ToDo: add other session entity fields to avoid data loss on session close -->
      <input type="hidden" th:field="*{id}" />
      <input type="hidden" th:field="*{closed}" />
      <input type="hidden" th:field="*{discountPercentage}" />
      <input type="hidden" th:field="*{totalWeight}" />
      <input type="hidden" th:field="*{discountableWeight}" />
      <input type="hidden" th:field="*{paymentInstruction}" />

      <div class="p-3">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="title">Title</label>
          <div class="col-sm-9">
            <input type="text" th:field="*{title}" required minlength="2" maxlength="128" class="form-control" id="title" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="openDate">Open Date:</label>
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                   th:field="*{dateTimeOpened}" id="openDate" placeholder="Session Open DateTime (UTC)"/>
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa-regular fa-calendar-days"></i></div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="closeDate">Close Date:</label>
          <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"
                   th:field="*{dateTimeClosed}" id="closeDate" placeholder="Session Close DateTime (UTC)"/>
            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa-regular fa-calendar-days"></i></div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <input type="submit" value="Close Session" class="btn btn-primary btn-sm mr-2" />
          <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
        </div>
      </div>
    </form>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#btnCancel").on("click", function () {
      window.location = "[[@{/}]]";
    });
  });
</script>

</body>

</html>